body{
    display: flex;
    background-color: rgb(104, 86, 177);
    height: 100vh;
    justify-content: center;
    align-items:center;
}
.contener{
    background-color: white;
    /* max-width: 900px; */
    width: 900px;
    /* height: 250px; */
    border-radius: 5px;
}
img{
   width: 35%;
   
   /* height: 250px; */
}
 /* .title{
    padding-left: 20px;
} */
.alldetails{
   
    float:right ;
    width: 65%;
    /* display: flex; 
    flex-wrap: wrap;
     justify-content: center; 
     align-items:center; */

    /* justify-content: space-around; */
    /* padding-top: 10px; */

}
/*
input{
    
    height: 20px;
    width: 150px;
    display: flex;
    flex-wrap: wrap;
}
.details{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    
    
}

#button{
    background-color: rgb(47, 12, 152);
    border-radius: 3px;
    color: white;
    border-color: blue;
}
 */
